.git
.gitignore
.env
.env.*
!**/.env.example
!**/.env.production.example
**/node_modules
**/vendor
**/__pycache__
**/*.pyc
BE_StayHub/public/storage
BE_StayHub/storage/logs/*.log
BE_StayHub/storage/framework/cache/*
BE_StayHub/storage/framework/sessions/*
BE_StayHub/storage/framework/views/*
BE_StayHub/bootstrap/cache/*.php
FE_StayHub/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
